* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", "Sans-serif";
    color: #333333;
}

body {
    background-color: #f5f4f0;
}

main {
    width: 1120px;
    margin: 88px auto 65px;
}

#image-description {
    margin: 40px auto;
}

#image-description img {
    margin: 4px auto 24px;
}

#title-list {
    margin: 64px auto;
}

main img {
    border-radius: 28px;
}

#content-list {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

hr {
    border-color: #D9D9D9;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32p;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 4px;
}

h1,h2,h3 {
    color: #1b1b1b;
}

.title {
    margin-bottom: 8px;
}

.card-travel + .card-travel {
    margin-top: 48px;
}

.card-travel p + p {
    margin-top: 20px;
}

p {
    font-size: 16px;
}

li {
    margin-left: 24px;
}

.paragraph {
    font-weight: normal;
}

.headline {
    font-weight: bold;
    color: #E1624F;
    margin-bottom: 8px;
}

.subtitle {
    font-style: italic;
    text-align: center;
}

.text-secundary, .accent-blue, .accent-purple, .accent-pink, .accent-orange {
    font-weight: bold;
}

.description {
    text-align: center;
}

.accent-blue {
    color: #0C51A7;
}

.accent-purple {
    color: #591b98;
}

.accent-pink {
    color: #E5245E;
}

.accent-orange {
    color: #E95E10;
}

footer {
    font-family: "Alice", serif;
    text-align: center;
    margin-bottom: 48px;
}

footer img {
    vertical-align: middle;
}